@theme "./themes/catppuccin-mocha"

* {
    font: "SF Pro Display, Regular 12";
}

listview {
    border: 0px 0px 0px;
    padding: 6px 0px 0px;
    margin: 10px 0px 0px 20px;
    columns: 1;
    lines: 5;
    background-color: @bg-col;
}
